@page
@using IdentityApp.Authorization
@using IdentityApp.Models
@using Microsoft.AspNetCore.Authorization

@inject IAuthorizationService AuthorizationService

@model IdentityApp.Pages.Invoices.DetailsModel

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Invoice</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Invoice.InvoiceAmount)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Invoice.InvoiceAmount)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Invoice.InvoiceMonth)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Invoice.InvoiceMonth)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Invoice.InvoiceOwner)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Invoice.InvoiceOwner)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Invoice.Status)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Invoice.Status)
		</dd>
	</dl>
</div>

@{

	var isAuthorized = await AuthorizationService.AuthorizeAsync(
				User, Model.Invoice, InvoiceOperations.Reject);

	@if (isAuthorized.Succeeded)
	{
		@if (Model.Invoice.Status != InvoiceStatus.Approved)
		{
			<form style="display:inline;" method="post">
				<input hidden name="id" value="@Model.Invoice.InvoiceId">
				<input hidden name="status" value="@InvoiceStatus.Approved">
				<button type="submit" class="btn btn-xs btn-success">Approve</button>
			</form>
		}

		@if (Model.Invoice.Status != InvoiceStatus.Rejected)
		{
			<form style="display:inline;" method="post">
				<input hidden name="id" value="@Model.Invoice.InvoiceId">
				<input hidden name="status" value="@InvoiceStatus.Rejected">
				<button type="submit" class="btn btn-xs btn-danger">Reject</button>
			</form>
		}
	}
}

<div>
	@if(isAuthorized.Succeeded == false)
	{
		<a asp-page="./Edit" asp-route-id="@Model.Invoice.InvoiceId">Edit</a>	
	}

	<a asp-page="./Index">Back to List</a>
</div>